node_modules
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.bak

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### vaadin

/kt2l-core/frontend/generated
/vaadin-xterm-addon/frontend/generated/
/config/local/*.yaml

/kt2l-core/src/test/resources/local.properties
/config/users/autologin/

node_modules
target
.vscode
.settings
.project
.classpath
/kt2l-corewebpack.generated.js
/kt2l-corepackage-lock.json
/kt2l-corepackage.json
/kt2l-corewebpack.config.js
/kt2l-core/error-screenshots
/kt2l-coredrivers
/kt2l-coretsconfig.json
/kt2l-core.idea
/kt2l-coretypes.d.ts
/kt2l-core/xtermfrontend/generated
/kt2l-core/xtermfrontend/index.html
/kt2l-corevite.generated.ts
/kt2l-core/.npmrc
/kt2l-core/.pnpm-debug.log
/kt2l-core/pnpm-lock.yaml
/kt2l-core/pnpmfile.js
/kt2l-core/src/main/bundles
/kt2l-core/src/main/resources/META-INF/resources/public/docs

dependency-reduced-pom.xml
/kt2l-core/src/main/resources/config.zip

/config/local/clusters.yaml

/kt2l-desktop/src/main/bundles
/kt2l-server/src/main/bundles
/kt2l-test/src/main/bundles
/kt2l-native/src/main/bundles

**/vite.generated.ts
/log
kt2l-core/log
