/**
 * kt2l - KT2L (ktool) is a web based tool to manage your kubernetes clusters.
 * Copyright © 2024 Mike Hummel (mh@mhus.de)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

html, body {
  overscroll-behavior-x: none;
}

vaadin-horizontal-layout.breadcrumb {
    overflow: hidden;
    height: 36px;
}

vaadin-button.button-combo-right {
    margin-left: 0px;
    border-radius: 0px 4px 4px 0px;
    padding-left: 0px;
    padding-right: 0px;
    color: var(--lumo-contrast-60pct);
}

vaadin-button.button-combo-left {
    margin-right: -4px;
    border-radius: 4px 0px 0px 4px;
    padding-right: 3px;
}

vaadin-icon.icon-for-button-with-text {
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

div.strikethrough {
    text-decoration: line-through;
}

body.login-page {
  background-color: #efefef;
}

body.login-page vaadin-login-form-wrapper {
    border-radius: 10px;
}

body.login-page div.login-text {
    width: 360px;
}

vaadin-vertical-layout.login-view h1 {
    margin-right: 20px;
}

vaadin-vertical-layout.login-view h1 div {
  float: right;
  margin-left: 10px;
}

div.cluster-label {
    padding: 10px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: var(--lumo-shade-10pct);
    font-weight: bold;
    width: 99%;
}

.hidden-tab {
    display: none;
}


div.login-div {
    width: 360px;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
}

a.login-link {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin-top: 5px;
    margin-left: 20px;
}

a.login-link vaadin-icon {
    width: 24px;
    height: 24px;
    margin-left: 6px;
}

a.login-link div {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}

.desktabview .tabitem:hover {
    background-color: var(--lumo-shade-20pct);
}

.desktabview .tabtext {
    overflow-x: hidden;
    width: 100%;
}

.desktabview .tabitem {
    background-color: var(--lumo-base-color);
    border: 1px solid var(--lumo-shade-10pct);
    padding: 4px;
    border-radius: 5px;
    margin-bottom: 0px;
}

.desktabview .tabicon {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
}

.desktabview .tabclose {
    width: 12px;
    height: 12px;
    min-width: 12px;
    min-height: 12px;
    max-width: 12px;
    max-height: 12px;
}

.desktabview .tabclose:hover {
    background-color: var(--lumo-shade-20pct);
}

.desktabview .selected {
    background-color: var(--lumo-shade-10pct);
}

vaadin-horizontal-layout.footer {
    font-size: small;
}

.color-red {
    color: #ff0000;
}

.color-green {
    color: #00ff00;
}

.color-blue {
    color: #0000ff;
}

.color-yellow {
    color: #ffff00;
}

.color-orange {
    color: #ff8000;
}

.color-purple {
    color: #8000ff;
}

.color-cyan {
    color: #00ffff;
}

.color-black {
    color: #000000;
}

.color-white {
    color: #ffffff;
}

.color-pink {
    color: #ff00ff;
}
.color-magenta {
    color: #ff00ff;
}
.color-brown {
    color: #a52a2a;
}
.color-grey {
    color: #808080;
}

.bgcolor-red {
    background-color: #ff0000;
}

.bgcolor-green {
    background-color: #00ff00;
}

.bgcolor-blue {
    background-color: #0000ff;
}

.bgcolor-yellow {
    background-color: #ffff00;
}

.bgcolor-orange {
    background-color: #ff8000;
}

.bgcolor-purple {
    background-color: #8000ff;
}

.bgcolor-cyan {
    background-color: #00ffff;
}

.bgcolor-black {
    background-color: #000000;
}

.bgcolor-white {
    background-color: #ffffff;
}

.bgcolor-pink {
    background-color: #ff00ff;
}
.bgcolor-magenta {
    background-color: #ff00ff;
}
.bgcolor-brown {
    background-color: #a52a2a;
}
.bgcolor-grey {
    background-color: #808080;
}

.title-red {
    background-color: #ff0000;
    color: #fff;
}

.title-green {
    background-color: #00ff00;
    color: #000;
}

.title-blue {
    background-color: #0000ff;
    color: #fff;
}

.title-yellow {
    background-color: #ffff00;
    color: #000;
}

.title-orange {
    background-color: #ff8000;
    color: #000;
}

.title-purple {
    background-color: #8000ff;
    color: #000;
}

.title-cyan {
    background-color: #00ffff;
    color: #000;
}

.title-black {
    background-color: #000000;
    color: #fff;
}

.title-white {
    background-color: #ffffff;
    color: #000;
}

.title-pink {
    background-color: #ff00ff;
    color: #000;
}
.title-magenta {
    background-color: #ff00ff;
    color: #fff;
}
.title-brown {
    background-color: #a52a2a;
    color: #fff;
}
.title-grey {
    background-color: #808080;
    color: #000;
}

span.ktool-title {
    padding-left: 10px;
}

vaadin-scroller.log-view {
    background-color: #000;
    color: #f6f6f6;
    white-space:pre;
    padding: 5px;
}

vaadin-scroller.log-view p {
    font-family: monospace;
    font-size: 14px;
    min-height: 1em;
    margin: 0;
    overscroll-behavior-x: none;
}

vaadin-scroller.log-view-nowrap {
    white-space: nowrap;
}

vaadin-scroller.events-view {
    padding: 5px;
    background-color: #000;
    color: #f6f6f6;
    white-space:pre;
}


vaadin-scroller.events-view-nowrap {
    white-space: nowrap;
}

vaadin-scroller.events-view p {
    font-family: monospace;
    font-size: 14px;
    min-height: 1em;
    margin: 0;
    overscroll-behavior-x: none;
}

vaadin-text-area.preview textarea {
    font-family: monospace;
    font-size: 14px;
    color: #000;
}

vaadin-text-area.no-word-wrap textarea {
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
}

span.logo {
    font-weight: bold;
    font-style: italic;
}

vaadin-vertical-layout.helpcontent {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #e3e3e3;
}

div.menutitle {
    width: 100%;
}

div.menutitle span.shortcut {
    color: #c3c3c3;
    float: right;
}

div.menutitle span.title {
    padding-right: 20px;
}
div.error-exception {
    color: #000;
    font-size: 12px;
}
div.version {
    color: #c3c3c3;
    font-size: 12px;
    font-style: italic;
}

.entry-changed {
    border: 1px dotted #ffa;
    border-radius: 5px;
    background-color: #ffe;
}

.entry-new {
    border: 1px dotted #afa;
    border-radius: 5px;
    background-color: #efe;
}

.forwardings div {
    margin: auto;
}

.forwardings vaadin-checkbox {
    margin: auto;
}

.monotext {
    font-family: monospace;
    font-size: 14px;
    color: #000;
}

vaadin-text-area.development-info textarea {
    font-family: monospace;
    font-size: 14px;
    color: #fff;
    background-color: #000;
}

div.div-space {
    height: 10px;
}

vaadin-vertical-layout.snipped-help-panel {
    overflow: scroll;
    padding-left: 10px;
}
