.red {
    background-color: #ff0000;
}

.green {
    background-color: #00ff00;
}

.blue {
    background-color: #0000ff;
}

.yellow {
    background-color: #ffff00;
}

.orange {
    background-color: #ff8000;
}

.purple {
    background-color: #8000ff;
}

.cyan {
    background-color: #00ffff;
}

.black {
    background-color: #000000;
}

.white {
    background-color: #ffffff;
}

.pink {
    background-color: #ff00ff;
}
.magenta {
    background-color: #ff00ff;
}
.brown {
    background-color: #a52a2a;
}
