.red {
    color: #ff0000;
}

.green {
    color: #00ff00;
}

.blue {
    color: #0000ff;
}

.yellow {
    color: #ffff00;
}

.orange {
    color: #ff8000;
}

.purple {
    color: #8000ff;
}

.cyan {
    color: #00ffff;
}

.black {
    color: #000000;
}

.white {
    color: #ffffff;
    background-color: #000000;
}

.pink {
    color: #ff00ff;
}
.magenta {
    color: #ff00ff;
}
.brown {
    color: #a52a2a;
}
.grey {
    color: #808080;
}
