/**
 * kt2l - KT2L (ktool) is a web based tool to manage your kubernetes clusters.
 * Copyright © 2024 Mike Hummel (mh@mhus.de)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
.red {
    color: #ff0000;
}

.green {
    color: #00ff00;
}

.blue {
    color: #0000ff;
}

.yellow {
    color: #ffff00;
}

.orange {
    color: #ff8000;
}

.purple {
    color: #8000ff;
}

.cyan {
    color: #00ffff;
}

.black {
    color: #000000;
}

.white {
    color: #ffffff;
    background-color: #000000;
}

.pink {
    color: #ff00ff;
}
.magenta {
    color: #ff00ff;
}
.brown {
    color: #a52a2a;
}
.grey {
    color: #808080;
}

.bgcolor-red {
    background-color: #ff0000;
}

.bgcolor-green {
    background-color: #00ff00;
}

.bgcolor-blue {
    background-color: #0000ff;
}

.bgcolor-yellow {
    background-color: #ffff00;
}

.bgcolor-orange {
    background-color: #ff8000;
}

.bgcolor-purple {
    background-color: #8000ff;
}

.bgcolor-cyan {
    background-color: #00ffff;
}

.bgcolor-black {
    background-color: #000000;
}

.bgcolor-white {
    background-color: #ffffff;
}

.bgcolor-pink {
    background-color: #ff00ff;
}
.bgcolor-magenta {
    background-color: #ff00ff;
}
.bgcolor-brown {
    background-color: #a52a2a;
}
.bgcolor-grey {
    background-color: #808080;
}
